.footer {
  background-color: $color-secondary;
  grid-column: full-start/full-end;
  padding: calculateRem(80px);
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calculateRem(18px), 1fr));
  gap: calculateRem(20px);
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: none;
    gap: calculateRem(5px);
  }

  &__link:link,
  &__link:visited {
    font-size: calculateRem(14px);
    color: #fff;
    font-family: $font-display;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: calculateRem(14px);
    display: block;
    transition: all 0.4s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.05);
    transform: translateY(-4px);
  }
}

.copyright {
  font-size: calculateRem(14px);
  color: $color-grey-light-2;
  margin-top: calculateRem(60px);
  text-align: center;
}
