.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.9),
      rgba($color-secondary, 0.9)
    ),
    url(../img/hero.jpeg);
  background-size: 101%, cover;
  background-position: center;

  display: grid;
  grid-template-rows: 1fr min-content minmax(calculateRem(60px), min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: calculateRem(15px);
  padding: calculateRem(80px);
  padding-top: calculateRem(40px);
  justify-content: center;

  &__logo {
    height: calculateRem(30px);
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }
  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    font-size: calculateRem(16px);
    color: $color-grey-light-2;
    column-gap: calculateRem(16px);
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: currentColor;
    }
  }

  &__seenon-logo {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // column-gap: calculateRem(30px);
    display: flex;
    justify-content: space-around;

    img {
      max-height: calculateRem(25px);
      max-width: 100%;
      filter: brightness(70%);
    }
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: calculateRem(50px);
  }
}
