.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #fff;
  height: 2px;
  width: calculateRem(45px);
  margin-top: calculateRem(40px);

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: calculateRem(45px);
  }

  &::before {
    transform: translateY(calculateRem(-15px));
  }
  &::after {
    transform: translateY(calculateRem(13px));
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: calculateRem(30px);

    &::before {
      transform: translateY(calculateRem(-11px));
    }
    &::after {
      transform: translateY(calculateRem(9px));
    }
  }
}
